---
- name: "Provision Docker Swarm Cluster"
  become: yes
  hosts: all
  vars:
    project_root: "{{ hostvars[groups['docker_swarm_manager'][0]].project_root }}"
  tasks:
    - name: "Provision Docker Swarm Cluster"
      import_role:
        name: ansible-dockerswarm
      tags: docker_swarm

- name: Deploy application
  become: yes
  hosts: docker_swarm_manager
  gather_facts: true
  vars:
    app_venv_path: /opt/app-venv

  tasks:
    - name: Ensure python3-venv is installed
      package:
        name: python3-venv
        state: present

    - name: Create virtualenv for application
      command: python3 -m venv {{ app_venv_path }}
      args:
        creates: "{{ app_venv_path }}/bin/activate"

    - name: Upgrade pip in virtualenv
      pip:
        name: pip
        virtualenv: "{{ app_venv_path }}"
        state: latest

    - name: Install Python dependencies in virtualenv
      pip:
        name:
          - jsondiff
          - passlib
          - packaging
          - pyyaml
          - docker
        virtualenv: "{{ app_venv_path }}"
        state: present

    - import_role:
        name: traefik
      tags: traefik
      vars:
        ansible_python_interpreter: "{{ app_venv_path }}/bin/python"  

    - import_role:
        name: vault
      tags: vault
      vars:
        ansible_python_interpreter: "{{ app_venv_path }}/bin/python"  